.dispTabla{
  display:table;
  border-collapse: separate;
  border-spacing: 5px
}

.dispFila{
  display: table-row;
}

.dispCelda{
  display:table-cell;
  padding:30px 20px;
  width: 145px;
  height: 35px;
  text-align: center;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border:1px dotted brown;
  border-radius: 13px;
  vertical-align: middle;
  cursor: pointer;
}

.dispCelda:active{
  background-color: #F5BCA9!important;
}

.dispCelda:hover{
  text-decoration:underline overline dotted gray;
}

#cantidadesRestantes{
  margin:30px;
  font-size: large;
}

.botonAux{
  background-color: #A4A4A4;
  padding:10px;
  font-size:medium;
  border:2px solid #2E2E2E;
  border-radius: 4px;
  display: inline;
  cursor: pointer;
}

.botonAux:hover{
  border: 1px dotted blue;
}

.botonAux:active{
  background-color:#D8D8D8 ;
}

.textoVersion{
  color:#2E2E2E;
  position:absolute;
  bottom:5px;
}
